@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
}



body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #ecc5ab;
    
}   

#mainheader{
    background-color: #264653;
    padding: 1rem;
    color: white;
}

#showcase{
    margin: 2em;  
}

#showcase h2{
    margin: 1.5rem;
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: 264653;
    
}

.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


.tlcontainer{
    display: grid;
    grid-template-columns: 1fr 9fr;
    border-bottom: 1px solid #264653;
    flex-grow: 1;
}

.year:hover, .event:hover{
    background-color: teal;
}

.tlcontainer h3{
    grid-column: 1/3;
    background-color: #264653;
    color: white;
    padding: 5px;
    margin-top: 10px;
    
    
}

.year{
    border-left: 1px solid #264653;
    border-top: 1px solid #264653;
    padding: 0.5rem;
    border-right: 1px solid #264653;
}
       

.event{
    border-right: 1px solid #264653;
    border-top: 1px solid #264653;
    padding: 0.5rem;
}

.quocontainer{    
    flex-grow: 1;
    
       
}

.quocontainer h3{    
    background-color: #264653;
    color: white;
    margin-top: 10px;
    padding: 5px;
      
}    

.flexquote{
    margin: 1rem;
    border-style: dotted;
    border-width: 1px;
    border-color: #264653;
    padding: 0.5rem;     
}

#gallery .container{
    justify-content: center;
    margin-bottom: 1rem;
    display: inline-flex;
    flex-wrap: wrap;  
}

#gallery h3{
    margin-top: 5px;
    background-color: #264653;
    color: white;
    padding: 5px;   
}

#gallery .galleryimg{    
    margin: 1rem;   
}

#gallery img{
    border-top: 2px solid #264653;
    border-left: 2px solid #264653;
    border-right: 2px solid #264653; 
  
}

#gallery p{
    border: 2px solid #264653;
    max-width: 364px;
    background-color: #264653;
    color: white;
}

#readmore button{
    background-color: #264653;
    color: white;
    width: 22rem;
    font-size: 22px;
    box-sizing: border-box;
    border: 1px solid #264653;
    border-radius: 3px;
}

